*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build/
**/build/
.kotlin/
*.hprof
/captures
.externalNativeBuild
.cxx
xcuserdata/
*.xcuserstate
*.xcscmblueprint
local.properties
*.jks
*.keystore
keystore.properties
play-service-account.json
*service-account*.json
api-*.json
.vscode/
